@model BusinessService.Models.Common.HomePageModel
@{
    ViewBag.Title = "Home Mail";
}

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2>HomeMail</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">HomeMail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
<!-- PAGE SECTION START -->
<div class="page-section section pt-30 pb-30">
    <div class="@(Request.Browser.IsMobileDevice == true ? "container-fluid" : "container")">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <img src="~/images/app/homemail_big.PNG" style="width: 200px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            </div>
        </div>

    </div>
</div>
<!-- PAGE SECTION END -->
