@model BusinessService.Models.Common.HomePageModel
@{
    ViewBag.Title = "Terms And Conditions";
}

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col-xs-12">
                <h2><img src="~/images/app/policy.svg" class="icon_svg_title pb-10" />&nbsp; Terms And Conditions</h2>
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"><b>Terms And Conditions</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
<!-- PAGE SECTION START -->
<div class="page-section section pt-30 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-justify">
                @Html.Raw(Model.ApplicationSetting.TermsAndConditions)
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
