@model BusinessService.Models.Common.AdminModel
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header color_blue"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</h2>
    </div>
</div>